@font-face {
  font-family: 'BrandonGrotesque-Regular';
  src: url('/assets/BrandonGrotesque-Regular.otf') format('truetype');
}

*{
  box-sizing: border-box;
  font-family: "BrandonGrotesque-Regular";
}

body{
  background: transparent;
  font-family: "BrandonGrotesque-Regular";
  margin: 0px;
  padding: 0px;
}

.text-input{
  border-radius: 4px;
  border: 1px solid gainsboro;
  padding: 8px 10px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
}

.input-field, .button-field{
  position: relative;
  vertical-align: top;
  /* display: inline-block; */
}

.text-input{
  resize: none;
  font: inherit;
}

.field{
  position: relative;
  vertical-align: top;
  float: left;
}

.inline-block{
  display: inline-block;
}

.delete-input{
  background: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 6px 0px;
  vertical-align: middle;
  top: -1px;
  position: relative;
  outline: none;
  border: 0;
  cursor: pointer;
}
.delete-field:before{
  content: " ";
  position: absolute;
  width: 8px;
  height: 1px;
  top: calc(50% - 1px);
  left: calc(50% - 4px);
  background: #fff;
  z-index: 1;
  pointer-events: none;
}

.valign-top{
  vertical-align: top;
}

.text-input:focus{
  border-color: rgba(77, 129, 241, 0.8);
}

.transition-color{
  -moz-transition: border-color 0.3s ease-in;  
  -webkit-transition: border-color 0.3s ease-in;
  transition: border-color 0.3s ease-in;
}
.add-icon{
  border: 1px dashed rgba(220, 220, 220, 1);
  background: #fff;
  padding: 4px 10px;
  margin-left: 4px;
  font-size: 22px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  float: right;
}

.add-icon:hover{
  border-color: rgba(212, 193, 193, 0.8);
}

.transition-border-color{
  -moz-transition: border-color 0.3s ease-in;  
  -webkit-transition: border-color 0.3s ease-in;
  transition: border-color 0.3s ease-in;
}

.transition-background{
  -moz-transition: background-color 0.3s ease-in;  
  -webkit-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}

.submit-button{
  border: 0px;
  background-color: rgba(77, 129, 241, 0.8);
  color: #fff;
  border-radius: 4px;
  padding: 12px 14px;
  font-size: 16px;
  vertical-align: top;
  outline: none;
  cursor: pointer;
}

.submit-button:hover{
  background-color: rgba(77, 129, 241, 1);
}

form ::-webkit-input-placeholder,option {
  color: #666;
}
form ::-moz-placeholder { 
  color: #666;
}
form :-ms-input-placeholder { 
  color: #666;
}
form :-moz-placeholder {
  color: #666;
}

select{
  background: #fff;
}

.add-expenses, .add-category{
  border: 1px solid gainsboro;
  padding: 10px 35px 45px 35px;
  width: 380px;
  margin: auto;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: #f7f7f7;
  margin: 10px;
  position: relative;
}

main{
  height: 100vh
}
.flex{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}